body,html {
  margin: 0;
  padding: 0;
  height: 50%;
  
}

.background-container {
  width: 50%;
  height: 15vh;
  position: relative;
}

.background-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  
}

.overlay {
  width: 99vw;
  height: 100vh;
  position: relative; 
  background-image: url(image/room.jpg);
  background-size: cover;

}
.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(187, 170, 204, 0.76);
}

.content-container {
  width: 100%;
  height: 100%;
  left: 150px;
  top: 209px;
  position: relative;
  
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.border-box {
  width: 1720px;
  height: 860px;
  left: 180px;
  top: 20px;
  position: absolute;
  border-radius: 74px;
  border: 3px #5D5D81 solid;
}

.text {
  left: 170px;
  top: 109px;
  position: absolute;
  color: black;
  font-size: 35px;
  font-family: Inter;
  font-weight: 800;
  word-wrap: break-word;
}
.form {
  width: 100%;
  margin: 30px auto;
}

.form > h2  {
  font-size: 35px;
  text-align: center;
}
.mb-3 {
  margin-bottom: 15px;
}

.form-label {
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.header {
  width: 100%;
  height: 10%;
  left: 0;
  top: 0;
  position: absolute;
}

.header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #5D5D81;
}



.img {
  left: 30px;
  top: 30px;
  position: absolute;
 
}
.btn-primary {
  display:block;
}

